include ../labeled/labeled

mixin input-text(textInputObj)
  -
    const {
      type,
      className,
      label,
      rightLabel,
      placeholder,
      inputmode,
      value
    } = textInputObj

  p.input-text(class=className)
    +labeled({
      label: label,
      rightLabel: rightLabel
    })
      input.input-text__input(
        type=type || "text",
        placeholder=placeholder,
        inputmode=inputmode,
        value=value
      )



