include ../labeled/labeled

mixin input-text(textInputObj)
  -
    const {
      type,
      interactLike,
      className,
      label,
      rightLabel,
      placeholder,
      inputmode,
      value
    } = textInputObj

  p.input-text.js-input-text(class=className)
    +labeled({
      className: "input-text",
      label: label,
      rightLabel: rightLabel
    })
      input(
        type=type || "text",
        data-interact=interactLike,
        placeholder=placeholder,
        inputmode=inputmode,
        value=value
      )



