include ../../pug/mixins.pug

mixin rating(ratingObj)
  -
    const {
      className,
      initialValue,
      name,
      labels = [
        "Ужасно", "Плохо", "Средне", "Хорошо", "Отлично"
      ]
    } = ratingObj

  .rating(
    class=className)
    each label, idx in labels
      - const isChecked = idx + 1 === initialValue

      label.rating__item
        span.visually-hidden.visually-hidden--always
          | #{ label }
        input(
          type="radio"
          name=name
          value=idx
          aria-label=label
          checked=isChecked)
        +svg("icon-star", 20, 20)
