include ../labeled/labeled.pug

mixin date-dropdown(dateDropdownObj)
  -
    const {
      className,
      range,
      label,
      rightlabel,
      name,
      startValue,
      required
    } = dateDropdownObj

  +labeled({
    className: `date-dropdown ${ className }`,
    label: label,
    rightLabel: rightLabel
  })
    -
      const initialInputType = range
        ? "text"
        : "date"

    input.visually-hidden.visually-hidden--always(
      type=initialInputType
      name=name
      value=startValue
      required=required
      autocomplete="off")
    span.date-dropdown__text
      | #{ startValue || "ДД.ММ.ГГГГ" }
