include ../labeled/labeled.pug

mixin date-dropdown(dateDropdownObj)
  -
    const {
      className,
      label,
      rightlabel,
      name,
      startValue
    } = dateDropdownObj

  +labeled({
    className: `date-dropdown ${ className }`,
    label: label,
    rightLabel: rightLabel
  })
    input.visually-hidden.visually-hidden--always(
      type="date"
      name=name
      value=startValue)
    p.date-dropdown__text
      | #{ startValue || "ДД.ММ.ГГГГ" }
