include ../../pug/mixins.pug

mixin logo(logoObj)
  -
    const {
      className,
      isFull,
      link
    } = logoObj

  if isFull
    a.logo.logo--full(class=className, href=link)
      img(
        src="assets/img/logo-text.png"
        alt="Логотип Toxin")
  else
    a.logo(class=className, href=link)
      +svg-gradients()
      +svg("logo-toxin", 45, 45)
