include ../../pug/mixins.pug

include ../card/card.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown-guests/dropdown-guests.pug
include ../btn/btn.pug
include ../input-quantity/input-quantity.pug
include ../text-field/text-field.pug
include ../radio/radio.pug
include ../toggle/toggle.pug
include ../option/option.pug
include ../bill/bill.pug
include ../total/total.pug

mixin first-column()
  .uikit-cards__column
    +card({
      className: "uikit-cards__hotel"
    })
      form.uikit-cards__hotel-form(
        action="https://echo.htmlacademy.ru/"
        method="POST")
        h2.uikit-cards__card-title
          | Найдём номера под ваши пожелания
        .uikit-cards__inputs-wrapper
          .uikit-cards__input-half
            +date-dropdown({
              className: "uikit-cards__left-date js-uikit-cards-arrival",
              label: "Прибытие",
              name: "user-arrival"
            })
          .uikit-cards__input-half
            +date-dropdown({
              className: "uikit-cards__right-date js-uikit-cards-check-out",
              label: "Выезд",
              name: "user-check-out"
            })
        .uikit-cards__guests
          +dropdown-guests({
            className: "uikit-cards__guests-dropdown js-uikit-cards-hotel-guests",
            label: "Гости",
            title: "Сколько гостей"
          })
            +input-quantity({
              className: "uikit-cards__quantity-input",
              label: "Взрослые",
              initialValue: 0,
              min: 0,
              max: 4,
              name: "user-guests-adults"
            })
        +btn({
          className: "uikit-cards__hotel-submit",
          type: "submit"
        })
          | Подобрать номер
          +svg("arrow_forward", 15, 15)

    +card({
      className: "uikit-cards__register"
    })
      form.uikit-cards__register-form(
        action="https://echo.htmlacademy.ru/"
        method="POST")
        h2.uikit-cards__register-title
          | Регистрация аккаунта

        +text-field({
          className: "uikit-cards__register-first-name",
          type: "text",
          name: "user-register-first-name",
          placeholder: "Имя",
          required: true
        })

        +text-field({
          className: "uikit-cards__register-last-name",
          type: "text",
          name: "user-register-last-name",
          placeholder: "Фамилия",
          required: true
        })

        .uikit-cards__register-radios
          +radio({
            className: "uikit-cards__register-radio",
            name: "user-sex",
            label: "Мужчина",
            checked: true,
            value: "user-sex-male"
          })
          +radio({
            className: "uikit-cards__register-radio",
            name: "user-sex",
            label: "Женщина",
            checked: false,
            value: "user-sex-female"
          })

        +text-field({
          className: "uikit-cards__masked-date js-uikit-cards-masked-date",
          type: "date",
          interactLike: "date",
          label: "Дата Рождения",
          placeholder: "ДД.ММ.ГГГГ",
          name: "user-birth-date"
        })

        +text-field({
          className: "uikit-cards__email",
          type: "email",
          label: "Данные Для Входа В Сервис",
          placeholder: "Email",
          name: "user-email"
        })
        +text-field({
          className: "uikit-cards__password",
          type: "password",
          placeholder: "Пароль",
          name: "user-password"
        })

        +toggle({
          className: "uikit-cards__specials",
          labelText: "Получать спецпредложения",
          name: "user-get-specials"
        })

        +btn({
          className: "uikit-cards__submit uikit-cards__register-submit",
          type: "submit"
        })
          | Перейти к оплате
          +svg("arrow_forward", 17, 17)

        .uikit-cards__footer-wrapper
          p.uikit-cards__register-text
            | Уже есть аккаунт на Toxin
          +btn({
            className: "btn--bordered uikit-cards__authorize-btn",
            type: "button"
          })
            | Войти

mixin second-column()
  .uikit-cards__column
    +card({
      className: "uikit-cards__book"
    })
      form.uikit-cards__book-form(
        action="https://echo.htmlacademy.ru/"
        method="POST")
        h2.visually-hidden
          | Забронировать номер в отеле

        .uikit-cards__book-header
          p.uikit-cards__number
            | 888
            span.uikit-cards__room-category
              | Люкс

          p.uikit-cards__cost
            | 9 990₽
            span.uikit-cards__cost-per
              | в сутки

        .uikit-cards__inputs-wrapper
          .uikit-cards__input-half
            +date-dropdown({
              className: "uikit-cards__left-date js-uikit-cards-book-arrival",
              label: "Прибытие",
              name: "user-arrival"
            })
          .uikit-cards__input-half
            +date-dropdown({
              className: "uikit-cards__right-date js-uikit-cards-book-check-out",
              label: "Выезд",
              name: "user-check-out"
            })

        .uikit-cards__book-guests
          +dropdown-guests({
            className: "uikit-cards__guests-dropdown js-uikit-cards-book-guests",
            label: "Гости",
            title: "Сколько гостей"
          })
            +input-quantity({
              className: "uikit-cards__quantity-input",
              label: "Взрослые",
              initialValue: 3,
              min: 0,
              max: 4,
              name: "user-guests-adults"
            })

        +bill({
          className: "uikit-cards__bill",
          rowsClassName: "uikit-cards__bill-row",
          rows: [
            {
              key: "9 990₽ х 4 суток",
              value: "39 960₽"
            },

            {
              key: "Сбор за услуги: скидка 2 179₽",
              value: "0₽",
              hint: "Текст всплывающей подсказки"
            },

            {
              key: "Сбор за дополнительные услуги",
              value: "300₽",
              hint: "Текст другой всплыващей подсказки"
            }
          ]
        })
        +total({
          className: "uikit-cards__bill-total",
          value: "38 081₽"
        })
        +btn({
          className: "uikit-cards__book-submit",
          type: "submit"
        })
          | Забронировать
          +svg("arrow_forward", 15, 15)

    +card({
      className: "uikit-cards__auth"
    })
      form.uikit-cards__auth-form(
        action="https://echo.htmlacademy.ru/"
        method="POST")
        h2.uikit-cards__auth-title
          | Войти

        +text-field({
          className: "uikit-cards__book-input",
          type: "email",
          name: "user-auth-email",
          placeholder: "Email",
          required: true
        })
        +text-field({
          className: "uikit-cards__book-input",
          type: "password",
          name: "user-auth-pass",
          placeholder: "Пароль",
          required: true
        })

        +btn({
          className: "uikit-cards__auth-submit",
          type: "submit"
        })
          | Войти
          +svg("arrow_forward", 15, 15)

        .uikit-cards__footer-wrapper.uikit-cards__footer-auth-wrapper
          p.uikit-cards__register-text
            | Нет аккаунта на Toxin?
          +btn({
            className: "btn--bordered uikit-cards__authorize-btn",
            type: "button"
          })
            | Создать

mixin third-column()
  .uikit-cards__column.uikit-cards__column--narrow
    +card({
      className: "uikit-cards__calendar"
    })
      input.datepicker-here.uikit-cards__calendar-input(
        type="text"
        data-inline="true")

main.page-main
  section.uikit-cards
    .wrapper.uikit-cards__inner
      h1.visually-hidden
        | UI-Kit Cards

      +first-column()
      +second-column()
      +third-column()
