include ../btn/btn.pug

mixin site-list(siteListObj)
  -
    const {
      className,
      authorization,
      siteListLinks,
      lang = "en"
    } = siteListObj

    const langObj = {
      "en": {
        "login": "Login",
        "register": "Register"
      },

      "ru": {
        "login": "Войти",
        "register": "Зарегистрироваться"
      }
    }

  ul.site-list(class=className)
    each siteListLink in siteListLinks
      -
        const {
          itemClassName,
          linkClassName,
          href = "#",
          text,
          isActive = false,
          submenuLinks
        } = siteListLink

        const linkActiveClass = isActive
          ? "site-list__link--active"
          : null

        const linkSubmenuClass = submenuLinks
          ? "site-list__link--submenu"
          : null

        const linkClassString = [
          linkActiveClass,
          linkSubmenuClass,
          linkClassName
        ]
          .filter(Boolean)
          .join(" ")

      li.site-list__item(class=itemClassName)
        a.site-list__link(
          class=linkClassString
          href=href)
          | #{ text }

        if submenuLinks
          ul.site-list__submenu
            each submenuLink in submenuLinks
              -
                const {
                  className,
                  text,
                  href = "#"
                } = submenuLink

              li.site-list__item
                a.site-list__link(href=href)
                  | #{ text }

    if !authorization
      li.site-list__item.site-list__item--unauthorized
        +btn({
          className: "btn--bordered site-list__btn",
          isLink: true,
          href: "/sign-in.html"
        })
          | #{ langObj[lang]["login"] }

      li.site-list__item.site-list__item--unauthorized
        +btn({
          className: "site-list__btn",
          isLink: true,
          href: "/sign-up.html"
        })
          | #{ langObj[lang]["register"] }
    else
      li.site-list__item.site-list__item--authorized
        a.site-list__link(href="#")
          | #{ authorization }
