mixin carousel(carouselObj)
  -
    const {
      className,
      roomImages
    } = carouselObj

  .carousel.owl-carousel.owl-theme(class=className)
    each roomImage in roomImages
      -
        const {
          src,
          src2x,
          alt
        } = roomImage

      .item
        picture
          source(type="image/webp"
            srcset=`${ src }.webp`)
          img.owl-lazy(
            src=`${ src }.jpg`
            alt=alt)

          //- srcset=src2x
