mixin carousel(carouselObj)
  -
    const {
      className,
      roomImages
    } = carouselObj

  .carousel.owl-carousel.owl-theme(class=className)
    each roomImage in roomImages
      -
        const {
          src,
          src2x,
          alt
        } = roomImage

      .item
        img.owl-lazy(
          data-src=src
          data-src-retina=src2x
          alt=alt)

          //- srcset=src2x
