include ../../pug/mixins.pug

mixin checkbox(checkboxObj)
  -
    const {
      className,
      labelText,
      checked,
      name
    } = checkboxObj

  label.checkbox(class=className)
    | #{ labelText }
    input.visually-hidden.visually-hidden--always(
      type="checkbox"
      checked=checked || false
      name=className)
    span.checkbox__box
      +svg("checkbox-tick", 15, 15)
