mixin toggle(toggleObj)

  -
    const {
      className,
      labelText,
      checked,
      name
    } = toggleObj

  label.toggle(class=className)
    | #{ labelText }
    input.visually-hidden.visually-hidden--always(
      type="checkbox"
      checked=checked || false
      name=name)
    span.toggle__box
