include ../labeled/labeled.pug

mixin text-field(textInputObj)
  -
    const {
      type,
      name,
      className,
      label,
      rightLabel,
      placeholder,
      inputmode,
      value,
      required,
      inputClass,
      ariaLabel
    } = textInputObj

  p.text-field(class=className)
    if label
      +labeled({
        className: "text-field",
        label: label,
        rightLabel: rightLabel
      })
        input(
          type=type || "text"
          name=name
          placeholder=placeholder
          inputmode=inputmode
          value=value
          required=required
          class=inputClass
          aria-label=ariaLabel)
        block
    else
      input(
        type=type || "text"
        name=name
        placeholder=placeholder
        inputmode=inputmode
        value=value
        required=required
        class=inputClass
        aria-label=ariaLabel)
      block
