include ../labeled/labeled

mixin text-field(textInputObj)
  -
    const {
      type,
      name,
      interactLike,
      className,
      label,
      rightLabel,
      placeholder,
      inputmode,
      value,
      required
    } = textInputObj

  p.text-field.js-text-field(class=className)
    +labeled({
      className: "text-field",
      label: label,
      rightLabel: rightLabel
    })
      input(
        type=type || "text",
        name=name,
        data-interact=interactLike,
        placeholder=placeholder,
        inputmode=inputmode,
        value=value,
        required=required
      )



