mixin input-quantity(inputQuantityObj)
  -
    const {
      className,
      initialValue,
      label,
      name,
      min,
      max,
      inputmode,
      type,
      required,
      ariaLabel = `Количество: ${ inputQuantityObj.label }`
    } = inputQuantityObj

  p.input-quantity(class=className)
    span.input-quantity__label
      | #{ label }

    span.input-quantity__wrapper
      button.input-quantity__btn.js-btn-dec(type="button")
        | -

      input.input-quantity__value(
        value=initialValue
        name=name
        min=min || 0
        max=max || 999
        type=type || "number"
        inputmode=inputmode || "numeric"
        placeholder=min || 0
        required=required
        aria-label=ariaLabel)

      button.input-quantity__btn.js-btn-inc(type="button")
        | +
